/* Csv Import page  */
table.csvtable td{
	padding: 15px;
}



/* Meta box css */
.ui-autocomplete {
   max-height: 300px;
   overflow-y: auto;
   /* prevent horizontal scrollbar */
   overflow-x: hidden;
 }
 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 .ui-autocomplete {
   height: 300px;
 }

 div#add_key_word_container{
	display: none;
 }